# Object files
*.o

.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-snippets

src/*.tif
src/EXAMPLE.cu

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix